@model MoneyShareTermApp.Models.Person
@using System.Security.Claims;

@{
    ViewData["Title"] = "Details";
    int UserId = int.Parse(User.Claims.FirstOrDefault(cl => cl.Type == ClaimTypes.PrimarySid).Value);
}

<div class="details">
    <div class="brief">
        <h4>@Model.SecondName @Model.FirstName @Model.MiddleName</h4>
        <hr />
        <img class="profile-img" src="~/images/@(Model.Photo?.Link ?? "anon.jpg")" />
        <hr />
        <h5>счет</h5>
        <ul>
            <li><div>$ @Model.Account.Dollar</div></li>
            <li><div>€ @Model.Account.Euro</div></li>
            <li><div>₽ @Model.Account.Ruble</div></li>
        </ul>
        <hr />
        @*@if (!Model.Id.Equals(int.Parse(User.Claims.FirstOrDefault(cl => cl.Type == ClaimTypes.PrimarySid).Value)))
        {*@
        <a class="btn btn-secondary" asp-action="Chat" asp-route-id="@Model.Id">написать/отправить денег</a>
        @if (Model.Id != UserId && !Model.SubscriptionPerson.Any(ss => ss.SubscriberId == UserId))
        {
            <a class="btn btn-secondary" asp-action="Subscribe" asp-route-id="@Model.Id">подписаться</a>
        }
        else if (Model.SubscriptionPerson.Any(ss => ss.SubscriberId == UserId))
        {
            <a class="btn btn-secondary" asp-action="Unsubscribe" asp-route-id="@Model.Id">отписаться</a>

        }
        @*}  *@
    </div>

    <div class="description">
        <h3>описание</h3>
        <ul>
            @*<li><div>Стоимость комментирования: </div><div>@Model.CommentPrice.GetAll()</div></li>*@
            <li><div>Стоимость сообщения: </div><div>@Model.MessagePrice.GetAll()</div></li>
            <li><div>Стоимость подписки: </div><div>@Model.SubscriptionPrice.GetAll()</div></li>
            <li><div>День рождения: </div><div>@Model.Birthday.ToShortDateString()</div></li>
            <li><div>Логин: </div><div>@Model.Login</div></li>
            <li><div>Телефон: </div><div>@Model.PhoneNumber</div></li>
            @if (Model.Role.Name == "admin")
            {
                <li><div>Админ</div></li>
            }
        </ul>
    </div>

    <div class="post-list">
        @if (Context.Request.Path.ToString().EndsWith(UserId.ToString()) || Context.Request.Path.ToString() == "/")
        {
            <button class="btn btn-secondary" data-toggle="modal" data-target=".bd-example-modal-lg">создать пост</button>
            @await Html.PartialAsync("_AddPostPartial")
        }
        <hr />
        <ul>
            @foreach (var post in Model.Post)
            {
                @await Html.PartialAsync("_PostTilePartial", post)
            }
        </ul>
    </div>

</div>
