@model MoneyShareTermApp.Models.Person

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>@Model.SecondName @Model.FirstName @Model.MiddleName</h4>
    <hr />
    <img src="@Model.Photo"/>
    <hr />
    <h5>счет</h5>
    <ul>
        <li><div>$</div><div>@Model.Account.Dollar</div></li>
        <li><div>€</div><div>@Model.Account.Euro</div></li>
        <li><div>₽</div><div>@Model.Account.Ruble</div></li>
    </ul>
    <hr />
    <a asp-action="Write">написать</a>

    <div>
        <h3>описание</h3>
        <ul>
            <li><div>День рождения: </div><div>@Model.Birthday.Date</div></li>
            <li><div>Логин: </div><div>@Model.Login</div></li>
            <li><div>Телефон: </div><div>@Model.PhoneNumber</div></li>
        </ul>
    </div>

    <div>
        <ul>

        </ul>
    </div>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
