@model MoneyShareTermApp.Models.Person
@using System.Security.Claims;

@{
    ViewData["Title"] = "Details";
}

<div class="details">
    <div class="brief">
        <h4>@Model.SecondName @Model.FirstName @Model.MiddleName</h4>
        <hr />
        <img class="profile-img" src="~/images/@(Model.Photo?.Link ?? "anon.jpg")" />
        <hr />
        <h5>счет</h5>
        <ul>
            <li><div>$ @Model.Account.Dollar</div></li>
            <li><div>€ @Model.Account.Euro</div></li>
            <li><div>₽ @Model.Account.Ruble</div></li>
        </ul>
        <hr />
        @*@if (!Model.Id.Equals(int.Parse(User.Claims.FirstOrDefault(cl => cl.Type == ClaimTypes.PrimarySid).Value)))
        {*@
        <a class="btn btn-secondary" asp-action="Chat" asp-route-id="@Model.Id">написать</a>
        @*}  *@
    </div>

    <div class="description">
        <h3>описание</h3>
        <ul>
            <li><div>День рождения: </div><div>@Model.Birthday.ToShortDateString()</div></li>
            <li><div>Логин: </div><div>@Model.Login</div></li>
            <li><div>Телефон: </div><div>@Model.PhoneNumber</div></li>
        </ul>
    </div>

    <div class="post-list">
        <button class="btn btn-secondary" data-toggle="modal" data-target=".bd-example-modal-lg">создать пост</button>
        @await Html.PartialAsync("_AddPostPartial", Model)
        <hr />
        <ul>
            @foreach (var post in Model.Post)
            {
                @await Html.PartialAsync("_PostTilePartial", post)
            }
        </ul>
    </div>

</div>
