<!DOCTYPE html>

@{
    string id = User.Claims.FirstOrDefault(cl => cl.Type == ClaimTypes.PrimarySid).Value;
    string role = User.Claims.FirstOrDefault(cl => cl.Type == ClaimTypes.Role).Value;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
    </environment>
</head>
<body>
    <header class="card-header header">
        <div>
            @{ 
                string linkCur = "https://www.cbr-xml-daily.ru/daily_json.js";
                var httpClient = new HttpClient();
                var content = await httpClient.GetStringAsync(linkCur);
                var json = JObject.Parse(content);

                decimal Dollar = (decimal)json["Valute"]["USD"]["Value"];
                decimal Euro = (decimal)json["Valute"]["EUR"]["Value"];
            }
            <span style="margin-right: 50px">@("доллар к рублю: " + Dollar)</span>
            <span>@("евро к рублю: " + Euro)</span>            
        </div>
    </header>

    <div class="container">
        <nav class="navbar flex-column nav-pills">
            <ul>
                <li><a class="nav-link @(ViewData["Title"].Equals("Details") && Context.Request.Path.ToString().EndsWith(id) ? "active" : "")" aria-selected="true" role="tab" asp-controller="Profile" asp-action="Details" asp-route-id="@id">профиль</a></li>
                <li><a class="nav-link @(ViewData["Title"].Equals("Posts") ? "active" : "")" aria-selected="true" role="tab" asp-controller="Profile" asp-action="Posts" asp-route-id="@id">лента</a></li>
                <li><a class="nav-link @(ViewData["Title"].Equals("Chats") ? "active" : "")" aria-selected="true" role="tab" asp-controller="Profile" asp-action="Chats" asp-route-id="@id">беседы</a></li>
                <li><a class="nav-link @(ViewData["Title"].Equals("People") ? "active" : "")" aria-selected="true" role="tab" asp-controller="Profile" asp-action="People">люди</a></li>
                <li><a class="nav-link @(ViewData["Title"].Equals("Settings") ? "active" : "")" aria-selected="true" role="tab" asp-controller="Profile" asp-action="Settings" asp-route-id="@id">настройки</a></li>
            </ul>
        </nav>

        <div class="content">
            @RenderBody()
        </div>
    </div>

    <footer class="card-footer footer">
        <div>
            <a asp-action="Logout" style="margin-right: 50px">выйти</a>
            @if (role == "admin")
            {
                <a asp-action="Index">пользователи</a>
            }
        </div>
    </footer>
</body>
</html>
