@model Message

@{ 
    bool isFromMe = Model.PersonId.Equals(int.Parse(User.Claims.FirstOrDefault(cl => cl.Type == ClaimTypes.PrimarySid).Value));
}
<div class="msg-tile">
    <div class="card @(isFromMe ? "msg-tile-right" : "msg-tile-left")">
        <div class="card-body">
            <input type="hidden" class="msgId" value="@Model.Id">
            @*<div class="author"><img src="~/images/@(Model.Person.Photo?.Link ?? "anon.jpg")" /><span class="author-name">@Model.Person.SecondName @Model.Person.FirstName</span></div>*@
            <p class="msg card-text">@Model.Text</p>
            <p class="card-text">
                <small class="text-muted">
                    @Model.Mailer.CreationTime.ToString("dd.MM.yyyy HH:mm:ss") |
                    @if (Model.Mailer.MoneyTransferTarget.Any())
                    {
                        var SA = Model.Mailer.MoneyTransferTarget.First().Account.GetOne();
                        <span>@SA.Item1.ToString()</span>
                        <span>@SA.Item2.ToString()</span>
                    }
                </small>
            </p>
        </div>
    </div>
</div>