@model Post
@using System.Text.RegularExpressions

<div class="post card">
    <div class="author"><img src="~/images/@(Model.Person.Photo?.Link ?? "anon.jpg")" /> @Model.Person.SecondName @Model.Person.FirstName</div>
    <span class="time">@Model.Mailer.CreationTime</span>
    <div class="text">@Model.Text</div>
    @foreach (var file in Model.File)
    {
        var reg = new Regex(@"^.*\.(jpg|JPG|gif|GIF|png|PNG)$");
        if (reg.IsMatch(file.Link))
        {
            <img class="img" src="~/images/@file.Link" />
        }
        else
        {
            <div class="file"><a link="~/files/@file.Link"></a></div>
        }
    }
    @{decimal Euro = 0, Ruble = 0, Dollar = 0;} @{/*TODO возложить это на бд*/}
    @foreach (var trans in Model.Mailer.MoneyTransferTarget)
    {
        Euro += trans.Account.Euro;
        Ruble += trans.Account.Ruble;
        Dollar += trans.Account.Dollar;
    }
    <div class="acc"><span>$ @Dollar</span><span>€ @Euro</span><span>₽ @Ruble</span></div> @{/*TODO сделать из них кнопки*/}
</div>